body {
	background-image:url('ischool.jpeg');
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}

#content {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 60px;
}

#main {
	background-color:rgba(255,255,255,0.7);
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#footer {
	background-color:rgba(255,255,255,0.7);
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: 14px;
	padding: 20px;
	margin-top: 30px;
}

h1 {
	text-align: center;
}

#content img {
	padding: 50px;
}